version: '3'

services:
  bd:
    image: "ghcr.io/pedrodsferreira/unitask-db:latest"
    environment:
      - MSSQL_SA_PASSWORD=MyPass@word
      - ACCEPT_EULA=Y
    ports:
      - "1433:1433"

    
  django:
    image: "ghcr.io/pedrodsferreira/unitask:latest"
    command: python manage.py runserver 0.0.0.0:8000
    environment:
      - DB_HOST=bd
      - DB_NAME=master
      - DB_USER=sa
      - DB_PASS=MyPass@word
    ports:
      - "8000:8000"
    depends_on:
      - bd
    volumes:
      - ./uni_todo:/app
    user: root
